@font-face {
  font-family: 'GT-Alpina-Standard-Medium';
  src: url('./fonts/GT-Alpina-Standard-Medium.woff2') format('woff2'), url('./fonts/GT-Alpina-Standard-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT-Alpina-Standard-Bold';
  src: url('./fonts/GT-Alpina-Standard-Bold.woff2') format('woff2'), url('./fonts/GT-Alpina-Standard-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}